<html>
<head>
</head>
<body>
<!--{% for question in questions %}
    {{question.name}}: {{question.question}}<br>
{% endfor %}-->
<form action="/" method="POST">
<p>WELCOME TO WALKING BUDDY</p>
    <p>Name <input type = "text" name = "Name" /></p>
    <p>Current Location <input type = "text" name = "CurrentLoc" /></p>
    <p>Destination <input type = "text" name = "Destination" /></p>
    <p>Time of Departure <input type = "datetime-local" name = "ToD" /></p>
    <p><input type = "submit" value = "Submit" /></p>
    {% if feedback %}
    <p class="text-danger float-right">{{ feedback }}</p>
    {% endif %}
</form>